///------------------------------
// COMMONS HELPERS 
///------------------------------

.center {
  display: grid;
  place-items: center;
  text-align: center;
}
.has-padding-b-1{
  padding-bottom: 1rem;
}
.has-w-90{
  width: 90%;
}
///------------------------------
// Colors Common class 
///------------------------------

.border-primary-strong {
  border-bottom: 3px solid var(--ion-color-primary);
}

///------------------------------
//  Common BUTTONS 
///------------------------------
.eluve-button-disable {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px var(--ion-color-medium);
  color: var(--ion-color-medium);
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
.eluve-button-active {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  cursor: pointer;
  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: inset 0 0 0 2px var(--ion-color-primary);
  color: var(--ion-color-primary);
  font-size: inherit;
  font-weight: 700;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;
  transition: color 0.25s;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: var(--ion-color-success);
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: var(--ion-color-success); // Make borders visible
    border-right-color: var(--ion-color-success);
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: var(--ion-color-success); // Make borders visible
    border-left-color: var(--ion-color-success);
    transition:
      border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
      width 0.25s ease-out 0.5s, // And then exanding width
      height 0.25s ease-out 0.75s; // And finally height
  }
}

